.order {
  margin: 30px 100px;
  font-size: 30px;
}

.user-under {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;
}

.user-under__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffce33;
}

.user-under__avatar {
  width: 130px;
  height: 200px;
  border-radius: 20px;
  margin-right: 30px;
}
